<div class="upload">
    <form action="/login" method="POST" class="upload__container">
        <h2>Inicio de Sesión</h2>
        <div class="upload__container--title">
            <input type="text" id="email" name="email" placeholder="Email" required>
        </div>

        <div class="upload__container--title">
            <input type="text" id="password" name="password" placeholder="Password" required>
        </div>

        <div class="upload__container--title">
            <button type="submit" class="btn"> Iniciar Sesión </button>
        </div>
    </form>
</div>

{{!-- <h1>Login</h1>
<form action="/api/sessions/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Login</button>
</form>
<br>
<a href="/api/sessions/github"> Github </a> --}}