h1 {
    color:rgb(14, 57, 231); 
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0077e6;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}
nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #d400ff;
   
}

nav li a {
    text-transform: uppercase;
    text-decoration: none;
    margin: 15px;
    color: gray;
    border-left: 1px solid rgb(37, 239, 216);
    border-right: 1px solid rgb(37, 239, 216);
    padding: 0 15px;
}

.formulario {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    .header{
        padding: 10px;
    }}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Upload */

.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.upload__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.upload__container--image,
.upload__container--title,
.upload__container--button {
    margin-bottom: 10px;
}

input,
button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.upload__container--button button {
    background-color: #0077e6;
    color: white;
    cursor: pointer;
}

.upload__container--button button:hover {
    background-color: #0077e6;
}

/* Cards */

.card {
    display: inline-block;
    width: 300px;
    margin: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

.card p {
    font-size: 14px;
    margin: 10px;
    color: #777;
}

/*Button*/

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #0077e6;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
}

.btn:hover {
    background-color: #0077e6;
}
/* .cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.boxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border: 2px solid #5917dc;
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
    min-width: 400px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 0 auto;
} */

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}