<header>
    <div class="container-fluid">
     <img src="https://banner2.cleanpng.com/20180519/jjs/kisspng-e-commerce-logo-electronic-business-5b00d2d0918d84.2335269315267806245962.jpg" alt="Logo de la tienda">

        <a href="/api/users/profile">Mi perfil</a>
      

    <nav class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav fuentesNav ms-auto">
            {{#if user}}
                <li><a href="/profile"> Hola {{user.first_name}} </a></li>
                <li><a href="/logout"> Cerrar Sesión</a></li>
            {{else}}
                <li><a href="/login">Iniciar sesión </a></li>
                <li><a href="/register">Registrarse</a></li>
            {{/if}}
        </ul>
    </nav>
    </div>
</header>